<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Beyond Space : A journey through space</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style-home.css') }}"></head>
    
</head>

<body>
    
    <div class="parallex-div">
        <h1 class="beyond-space">TO INFINITY & BEYOND</h1>
        <img class="astronaut-img" id="astronaut-img" src="/static/astronaut-2.png">
    </div>

    <div class="empty-black-div" id="other-divs">

    </div>

    <div class="aboutus1" id="other-divs">
        <img class="astronaut-wearing-vr" src="/static/astronaut-wearing-vr.png" alt="">
        <div class="aboutus1-minor">
            <h1 class="aboutus1-heading" id="aboutus1-heading">visualize. picturize. visionize.</h1>
            <p class="aboutus1-p">Visualize, Picturize and Visionize the depths of the infinite universe. Our site provides people with the benefits of 2D visualisation of our solar system and a 2D recreation of a blackhole.</p>
            
        </div>
    </div>

    <div class="aboutus2" id="other-divs">
        <div class="aboutus2-minor">
            <h5 class="aboutus2-heading">Witness the
                <span class="i">i</span><span class="m">m</span><span class="possible">possible</span>
            </h5>
            <p class="aboutus2-p">A site sure to stike the eyes of our viewers with the 2D visualisations made entirely thorught languages like HTML, CSS AND JAVASCRIPT.</p>
        </div>
        <img src="/static/doginspace.png" class="dog-in-space" id="dog-in-space">
    </div>

    <div class="aboutus3" id="third-div">
        <img src="/static/another-astronaut.png" alt="" class="another-astronaut">
        <h1 class="animation">GROW YOUR LOVE FOR SPACE</h1>
    </div>

    <div class="explore" id="other-divs">
        <img src="/static/explore-astronaut.jpg" alt="" class="explore-astronaut">
        <div class="explore-minor">
            <h1 class="explore">GET STARTED</h1>
            <p class="explore-p">Get started by clicking on the EXPLORE button, on an adventurous journey through our solar sys.</p>
            <a class="ripple" href="/explore">EXPLORE</a>
        </div>
    </div>

    <center><h1 class="copyrights">©2022 INFINITY | All Rights Reserved</h1></center>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.js" integrity="sha512-E378bwaeZf1nwXeJGIwTB58A5gPt5jFU3u6aTGja4ZdRFJeo/N/REKnBgNZOZlH6JdnOPO98vg2AnSGaNfCMFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/static/home.js"></script>


</body>
    
    
</html>

 